## Основные команды:

●	Shift + Enter — выполнить код в ячейке и перейти на следующую.
●	Ctrl + Enter — выполнить и остаться.
●	Табуляция — автозаполнение длинных названий.
●	Esc + m или просто m — перевести ячейку из кода в комментарии.
●	b — добавить новую ячейку.
●	Ctrl + SHift + P (Command + Shift + P) — список горячих клавиш.

Комментарии в коде

Однострочный комментарий начинается с символа #
Многострочные комментарии пишут в тройных кавычках ””” “””

In [ ]:
# блоков elif может быть хоть сколько
height = 210
if height < 170:
    print('В танкисты')
elif height < 180:
    print('На флот')
elif height < 200:
    print('В десантники')
else:
    print('В другие войска')
print('Конец программы')

## Операции со строками

1.	Конкатенация (объединение) строк возможно при помощи +.
2.	Умножение строки на число позволит повторить её нужное количество раз.
3.	.upper() приводит строку к верхнему регистру.
4.	.lower() приводит строку к нижнему регистру.
5.	.capitalize() приводит первую букву к верхнему регистру.
6.	.replace(‘что заменить’, ‘на что заменить’) заменяет элемент в строке на указанный.
7.	len(my_string) позволяет определить длину строки (количество символов в ней.

## Операции с множествами

●	.add(el) добавляет элемент в множество.
●	.update(set) соединяет множество с другим множеством/списком.
●	.discard(el) удаляет элемент из множества по его значению.
●	.union(set) объединяет множества (логическое ИЛИ).
●	.intersection(set) — пересечение множеств (логическое И).
●	.difference(set) возвращает элементы одного множества, которые не принадлежат другому множеству (разность множеств).
●	.symmetric_difference(set) возвращает элементы, которые встречаются в одном множестве, но не встречаются в обоих.

## Проверка на вхождение элемента в объект

In [ ]:
my_string = 'Hello World'
target_string = 'World'

if target_string in my_string:
    print('find!')

# Списки

●	Списки можно складывать.
●	del(list[index]) удаляет элемент из списка по индексу.
●	.remove(el) удаляет указанный элемент из списка.
●	.append(el) позволяет добавить элемент в список.
●	.count(el) считает количество вхождений элемента в список.
●	.index(el) позволяет узнать индекс элемента в списке.
●	.reverse() разворачивает список.
●	sorted(list) сортирует список.
●	Метод split — преобразование строки в список. Список дополнительно можно разделять. В качестве разделителя может выступать запятая, пробел или другой разделитель.
●	Метод join — преобразование списка в строку. В преобразовании сначала идёт разделитель, к которому применяется метод join. В качестве параметров указывается определённый список.

In [6]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [7]:
# индексация элементов в списке
print(month_list[0])
print(month_list[-1])
print(income_by_months[-4][1])

Jan
Sep
13000

In [8]:
# срезы
print(income_by_months[1:3])  # 0, 1
print(income_by_months[-8:-6])
print(income_by_months[2:])
print(income_by_months[:3])

[['Feb', 14000], ['Mar', 14300]]
[['Feb', 14000], ['Mar', 14300]]
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [10]:
# можно обращаться к любому уровню вложенности
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
income_by_months[1][1]

14000

In [57]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [62]:
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

## Распаковка списков

In [63]:
data = ['первый', 'второй', 'третий']
first = data[0]

In [64]:
first, second, third = ['первый', 'второй', 'третий']
first

'первый'

In [65]:
# когда число элементов неизвестно
first, *_ = ['первый', 'второй', 'третий']
first

'первый'

In [66]:
_

['второй', 'третий']

In [67]:
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']

In [68]:
other

['второй', 'третий']

In [69]:
first

'первый'

In [70]:
first, last

('первый', 'четвертый')

## Операции со списками

In [71]:
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Sep', 15300]]

In [72]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200]]

In [73]:
month_list

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

In [74]:
# удаляем элемент по значению
month_list.remove('Sep')
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [75]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000]]

In [77]:
income_list

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [76]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [78]:
# считаем количество вхождений элемента в список
income_list.count(13000)

2

In [79]:
income_list

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [82]:
# узнаем индекс элемента в списка (только первое вхождение!)
income_list.index(13000, 1)

6

In [83]:
# разворачиваем список
month_list.reverse()
month_list

['Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [84]:
# узнаем длину списка
len(income_list)

10

In [85]:
# сумма элементов
sum(income_list)

1239611

In [87]:
income_list

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [86]:
# максимальный элемент элементов
max(income_list)

1111111

In [88]:
# минимальный элемент элементов
min(income_list)

13000

In [89]:
# сортировка по возрастанию
sorted(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300, 1111111]

In [90]:
income_list

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [91]:
# изменить порядок сортировки
sorted(income_list, reverse= True)

[1111111, 15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [92]:
# а это сортировка строк по алфавиту
sorted(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May']

## Изменение списков

В примере ниже переменная a и b на самом деле указывают на один и тот же объект. В результате, при добавлении в b очередного элемента этот элемент добавляется и в исходном листе a

In [93]:
a = [1, 2, 3]
b = a

In [95]:
b.append(4)
'a = {}'.format(a)

'a = [1, 2, 3, 4]'

In [94]:
id(a), id(b)

(4588219016, 4588219016)

Используем модуль copy

In [96]:
import copy

In [97]:
a = [1, 2, 3]
b = copy.copy(a)

In [98]:
id(a), id(b)

(4589681416, 4589681288)

In [99]:
b.append(4)
print('a = {}'.format(a))

print('b = {}'.format(b))

a = [1, 2, 3]
b = [1, 2, 3, 4]

## f-строки

In [43]:
name = 'oleg'
lang = 'python'
t = f"Hello, {name.capitalize()}, i know {lang} a bit"
print(t)
print(type(t))

Hello, Oleg, i know python a bit
<class 'str'>

In [46]:
print(f'Hello {name}, i know {lang} a bit')

Hello oleg, i know python a bit

## Списки и строки

In [134]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [137]:
# преобразование строки в список (например, из CSV-файла)
queries_list = queries_string.split(',')
queries_list

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [141]:
len(queries_list[0].split(' '))

3

In [ ]:
len(queries_list[0].split(' '))

In [145]:
# Преобразование списка в строку

print(','.join(['Столбец 1', 'Столбец 2', 'Столбец 3']))

Столбец 1,Столбец 2,Столбец 3

In [147]:
# проверка вхождения элемента в список:

# 'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

False

# Tuple (кортежи)

In [149]:
salary_tuple = (1000, 1200, 1300, 900, 800)
# type(salary_tuple)
type(list(salary_tuple))

tuple

In [150]:
list(salary_tuple)

[1000, 1200, 1300, 900, 800]

In [151]:
# print(salary_tuple[0])
salary_tuple[0] = 500

TypeError: 'tuple' object does not support item assignment

In [152]:
# кортеж из одного элемента задается так:
t = ('one', )

In [153]:
type(t)

tuple

In [154]:
# без запятой получится строка
type( ('one') )

str

In [155]:
# функция zip
salaries = [1000, 1200, 1300, 900, 800, 1000]
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']

salaries_by_names = zip(names, salaries)
print(salaries_by_names)

<zip object at 0x1134d3448>

In [156]:
list(salaries_by_names)

[('Robert', 1000),
 ('Jane', 1200),
 ('Liza', 1300),
 ('Richard', 900),
 ('John', 800)]

# Циклы

## Цикл while

In [160]:
x = 5
while x != 0:
    x -= 1
    print(x)
    # break
    
print('Я прекратил работу')

4
3
2
1
0
Я прекратил работу

In [161]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
    else:
        print(x, '- нечетное число')
    x = x - 1

7 - нечетное число
6 - четное число
5 - нечетное число
4 - четное число
3 - нечетное число
2 - четное число
1 - нечетное число

## Цикл for

In [164]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
    print(letter)
#     letter = letter.capitalize()
#     print(letter)
# print(letter)

O
r
a
n
g
e

In [165]:
# итерация по спискам
companies_capitalization = [
    ['Orange', 1.3],
    ['Maxisoft', 1.5],
    ['Headbook', 0.8],
    ['Nicola', 2.2]
]

In [168]:
for company in companies_capitalization:
#     print(company)
    print(company[0], 'capitalization is', company[1])
#     print('end of iteration')

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

## break, pass, continue

In [1]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [2]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

6

In [3]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter)
print('finish loop')

6
finish loop

In [4]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
print('finish loop')

6
finish loop

### Функции range и enumerate
Функция enumerate может перебирать списки и к каждому элементу автоматически добавлять номер строки.
C указанием левой и правой границы:
for i in range(3, 4):
C шагом:
for i in range(3, 15, 5):

In [181]:
# enumerate позволяет получить индекс каждого элемента
# enumerate([1, 2, 3, 4, 5])
list(enumerate([1, 2, 3, 4, 5]))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [182]:
companies_capitalization = [
    ['Orange', 1.3],
    ['Maxisoft', 1.5],
    ['Headbook', 0.8],
    ['Nicola', 2.2]
]
for i, company in enumerate(companies_capitalization):
    print(i+1, company[0], 'capitalization is', company[1])

1 Orange capitalization is 1.3
2 Maxisoft capitalization is 1.5
3 Headbook capitalization is 0.8
4 Nicola capitalization is 2.2

In [184]:
for i, company in enumerate(companies_capitalization):
    print(company)
    
    if i > 2:
        break

['Orange', 1.3]
['Maxisoft', 1.5]
['Headbook', 0.8]
['Nicola', 2.2]

## List comprehension

In [195]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [ ]:
# с list comprehension получается покороче
[w for w in sequence if w % 5 == 0]

In [210]:
sum([x[2] for x in api_response])/len(api_response)

128.14285714285714

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [212]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [213]:
set([1, 2, 1])

{1, 2}

In [214]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'SQL', 'Python', 'SAS', 'Hadoop', 'Java', 'Git', 'Tableau', 'R', 'Scala'}
{'SQL', 'Python', 'SAS', 'Hadoop', 'Java', 'Git', 'Tableau', 'R', 'Scala'}

In [215]:
# логическое И – что нужно знать и data-scientist и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'SQL', 'Git', 'Python'}
{'SQL', 'Git', 'Python'}

In [216]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
# print(data_scientist_skills.difference(data_engineer_skills))
# print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

{'Java', 'Scala', 'Hadoop'}
{'Java', 'Scala', 'Hadoop'}

In [217]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
# print(data_scientist_skills.symmetric_difference(data_engineer_skills))
# print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'Tableau', 'SAS', 'Hadoop', 'Java', 'R', 'Scala'}
{'Tableau', 'SAS', 'Hadoop', 'Java', 'R', 'Scala'}

In [ ]:
# Из списка можно убрать все повторения просто обратив его в set!

# Словари

In [218]:
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}

In [219]:
# обращение к элементу словаря
salaries['John']

1200

In [221]:
# удаляем элемент из словаря
del(salaries['Liza'])
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000}

In [222]:
# добавляем элемент в словарь
salaries['Mary'] = 2000
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000}

In [228]:
# безопасно получаем значение по ключу
# salaries['Oleg']
# print(salaries.get('Oleg', 'Not found'))
salaries.get('Mary', 'Not Found')

2000

In [230]:
salaries['Andrey'] += 2000

KeyError: 'Andrey'

In [232]:
# проверка на наличие ключа в словаре
recruit = 'Amanda'

if recruit in salaries:
    print('Значение для ключа уже существует')
else:
    print('Добавляю новый ключ')
    salaries[recruit] = 2200

print(salaries)

Значение для ключа уже существует
{'John': 1200, 'Mary': 4000, 'Steven': 1000, 'Amanda': 2200}

In [234]:
# Можно использовать метод setdefault
# setdefault не изменяет значение, если ключ уже был в словаре

# salaries.setdefault('Mary', 3000)
# salaries
salaries.setdefault('Paul', 3000)
salaries

{'John': 1200, 'Mary': 4000, 'Steven': 1000, 'Amanda': 2200, 'Paul': 3000}

In [235]:
# перейдем к более сложному словарю
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [238]:
staff_dict['Robert']['bonus']

200

In [239]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [244]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
# print(staff_dict.keys())
# print(staff_dict.values())
# print(staff_dict.items())

print(list(staff_dict.keys()))
print(list(staff_dict.values()))
print(list(staff_dict.items()))

[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

In [245]:
# итерация по словарям
# так бы было без цикла
print("Robert's salary:", staff_dict['Robert']['salary'])
print("Jane's salary:", staff_dict['Jane']['salary'])
print("Richard's salary:", staff_dict['Richard']['salary'])

Robert's salary: 800
Jane's salary: 200
Richard's salary: 500

In [248]:
for person in staff_dict:
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [ ]:
for key in staff_dict.keys():
    print(key)

In [ ]:
for value in staff_dict.values():
    print(value)

In [250]:
for key, value in staff_dict.items():
    print(key, value['salary'])

Robert 800
Jane 200
Liza 1300
Richard 500
Oleg 1000000

In [251]:
for i, person in enumerate(staff_dict):
    print(i+1, person)

1 Robert
2 Jane
3 Liza
4 Richard
5 Oleg

In [252]:
# используем цикл
for person, info in staff_dict.items():
#     print(person, info)
    print(person, "'s salary: ", info['salary'], sep='')

Robert's salary: 800
Jane's salary: 200
Liza's salary: 1300
Richard's salary: 500
Oleg's salary: 1000000

In [253]:
# добавим уровень з/п
for person, info in staff_dict.items():
#     print(person)
    if info['salary'] > 1000:
        info['status'] = 'above average'
    else:
        info['status'] = 'below average'
#     print(f"{person}'s salary: {info['salary']} ({status})")

staff_dict

{'Robert': {'salary': 800, 'bonus': 200, 'status': 'below average'},
 'Jane': {'salary': 200, 'bonus': 300, 'status': 'below average'},
 'Liza': {'salary': 1300, 'bonus': 200, 'status': 'above average'},
 'Richard': {'salary': 500, 'bonus': 1200, 'status': 'below average'},
 'Oleg': {'salary': 1000000, 'bonus': 300, 'status': 'above average'}}

In [255]:
# функция zip
categories = ['Еда', 'Авто', 'Политика', '346346']
audience = [100, 200, 300]

dict(zip(categories, audience))

# categories_dict = dict(zip(categories, audience))
# print(categories_dict)

{'Еда': 100, 'Авто': 200, 'Политика': 300}

## Dict comprehension
Похоже на  list comprehension

In [256]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [257]:
{n: n**2 for n in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [258]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]

In [259]:
{metric: value for (metric, value) in results}

{'date': '2018-01-01', 'counter': '777', 'visits': 154}

# Обработка ошибок
1. Текст ошибки указывается в последней строчке
2. Все что перед ней - место, где ошибка произошла
3. Есть встроенные типы ошибок, но можно создавать и свои

Некоторые типы ошибок из документации (точнее [перевода](https://pythonworld.ru/tipy-dannyx-v-python/isklyucheniya-v-python-konstrukciya-try-except-dlya-obrabotki-isklyuchenij.html)):
- ZeroDivisionError - деление на ноль
- ImportError - не удалось импортирование модуля или его атрибута (надо установить эту библиотеку)
- IndexError - индекс не входит в диапазон элементов.
- KeyError - несуществующий ключ (в словаре, множестве или другом объекте)
- MemoryError - недостаточно памяти
- SyntaxError - синтаксическая ошибка (вы опечатались или не закрыли скобку)
- TypeError - операция применена к объекту несоответствующего типа
- ValueError - функция получает аргумент правильного типа, но некорректного значения
- Warning - предупреждение (текст на красном фоне в юпитере это предупреждение, а не ошибка)

# Задача про интервалы дат
Имеется список отсортированных по возрастанию дат dates_list. А также дата date, которая лежит между минимальным и максимальным значениями из списка dates_list. Вам необходимо определить ближайшие даты в списке dates_list, которые окружают дату date.

Пример:
```python
dates_list = ['2022-01-01', '2022-01-07', '2022-02-23', '2022-03-08', '2022-05-01', '2022-05-09', '2022-06-12']
date = '2022-04-01'
```

In [1]:
dates_list = ['2022-01-01', '2022-01-07', '2022-02-23', '2022-03-08', '2022-05-01', '2022-05-09', '2022-06-12']
date = '2022-04-01'

In [3]:
#вариант 1
i=0
for dt in dates_list:
    print(i, dt, dates_list[i+1])

0 2022-01-01 2022-01-07
0 2022-01-07 2022-01-07
0 2022-02-23 2022-01-07
0 2022-03-08 2022-01-07
0 2022-05-01 2022-01-07
0 2022-05-09 2022-01-07
0 2022-06-12 2022-01-07

In [14]:
#вариант2
%time
for i, dt in enumerate(dates_list[:-1]):
    if dt < date < dates_list[i+1]:
        print(i, dt, dates_list[i+1])

CPU times: total: 0 ns
Wall time: 0 ns
3 2022-03-08 2022-05-01

# Обработка ошибок
1. Текст ошибки указывается в последней строчке
2. Все что перед ней - место, где ошибка произошла
3. Есть встроенные типы ошибок, но можно создавать и свои

Некоторые типы ошибок из документации (точнее [перевода](https://pythonworld.ru/tipy-dannyx-v-python/isklyucheniya-v-python-konstrukciya-try-except-dlya-obrabotki-isklyuchenij.html)):
- ZeroDivisionError - деление на ноль
- ImportError - не удалось импортирование модуля или его атрибута (надо установить эту библиотеку)
- IndexError - индекс не входит в диапазон элементов.
- KeyError - несуществующий ключ (в словаре, множестве или другом объекте)
- MemoryError - недостаточно памяти
- SyntaxError - синтаксическая ошибка (вы опечатались или не закрыли скобку)
- TypeError - операция применена к объекту несоответствующего типа
- ValueError - функция получает аргумент правильного типа, но некорректного значения
- Warning - предупреждение (текст на красном фоне в юпитере это предупреждение, а не ошибка)

In [ ]:
# эту строку можно перевести в число
some_num = '123'

In [ ]:
float(some_num)

In [ ]:
# а эту уже нет (по крайней мере в десятичном счислении)
ups = '123a'

In [ ]:
# ValueError - тип ошибки, далее пояснение что произошло
# ----> 1 float(ups) - в каком месте кода произошла ошибка
float(ups)

Пример ошибки внутри функции

In [15]:
def square_sum(*args):
    total_sum = 0
    for arg in args:
        total_sum += arg**2
    
    return total_sum

In [16]:
square_sum(1, 2, 3)

14

In [17]:
# пытаемся применить к операцию возведения в квадрат к строке
# ----> 1 square_sum(1, 2, '3') - в какой функции произошла ошибка
# ----> 4         total_sum += arg**2 - в какой именно строке произошла ошибка

square_sum(1, 2, '3')

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## Как сделать, чтобы цикл с расчетом не падал каждый раз

In [ ]:
try:
    # ваш код, где может произойти ошибка
    float('123a')

except:
    # код, который выполняется в случае ошибки

In [ ]:
data = ['90', '60', '90', '240tot']
total_sum = 0

for num in data:
    try:
        total_sum += float(num)

    except:
        print('Ошибка в данных: {}'.format(num))
    
print('Итого', total_sum)

Как сохранить всю информацию об ошибке?

In [1]:
# полная версия traceback
import traceback

try:
    float('123fff')

except Exception:
    print(traceback.print_exc())
    
print('Проехали')

None
Проехали

Traceback (most recent call last):
  File "C:\Users\Vitaliy\AppData\Local\Temp\ipykernel_8684\491658709.py", line 5, in <module>
    float('123fff')
ValueError: could not convert string to float: '123fff'

### Блок finally

In [ ]:
try:
    print(stats["wednesday"])
    
except IndexError:
    print("Ошибка индекса")
    
except KeyError:
    print("Ошибка ключа")
    print(1/0)
    
finally:
    print('Эта строчка будет выполнена всегда')

### Более жизненный пример

In [18]:
with open('real_data.txt', 'r') as f:
    for line in f:
        print(line.strip())

FileNotFoundError: [Errno 2] No such file or directory: 'real_data.txt'

Чем прекрасен этот файл:
1. Даты имеют разный формат: за 8 и 9 октября формат с "09.10.2016 21:40" сменился на "09.10.2016T 21:40:00" (добавилась буква T и секунды). Разработчики объяснили этот тем, что сбились настройки после обновления одной из баз данных.
2. У покупок некоторых пользователей неизвестно значение выручки, из-за чего количество столбцов в строке уменьшается на один.
3. У некоторых строк реальная сумма покупки умножена на миллион. Так иногда действительно делают, чтобы избежать дробных чисел и работать только с целыми.

Необходимо посчитать сумму выручки из третьего столбца.

# Даты

In [3]:
# иногда импортируют так
import datetime

In [4]:
# можно и так
import datetime as dt

In [5]:
# у нас будет вариант покороче (но это не одно и то же)
from datetime import datetime

In [6]:
date_string = '09.05.2018  09:00'

In [7]:
# сейчас date_string это просто строка
type(date_string)

str

In [8]:
datetime.strptime('09.05.2018 09:00', '%d.%m.%Y %H:%M')

datetime.datetime(2018, 5, 9, 9, 0)

In [9]:
# https://docs.python.org/3/library/datetime.html

date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
date_datetime

datetime.datetime(2018, 5, 9, 9, 0)

In [ ]:
# теперь можем работать с датами
type(date_datetime)

In [ ]:
# получить номер года и часа
date_datetime.year, date_datetime.hour

In [ ]:
# день недели
date_datetime.weekday()

In [ ]:
# сегодня
datetime.now()

### Прибавление интервала к датам

In [ ]:
from datetime import timedelta

In [ ]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [ ]:
type(start_date)

In [ ]:
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
start_date_datetime

In [ ]:
start_date_datetime + timedelta(days=1)

In [ ]:
start_date_datetime + timedelta(days=-7, minutes=-1)

### Перевод обратно в строку

In [ ]:
date = datetime(2018, 9, 1)
date

In [ ]:
date.strftime('%Y-%m-%d')

In [ ]:
date.strftime('%B %d %Y %I:%M%p')

In [ ]:
datetime.now().strftime('%Y-%m-01')

In [ ]:
# как получить первый день месяца

date.strftime('%Y-%m-01')

In [ ]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [ ]:
start_date, end_date

In [ ]:
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

print(start_date_dt, end_date_dt)

In [ ]:
i = 0

while i < 10:
    # ...
    i += 1
    print(i)

In [ ]:
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

In [ ]:
current_dt = start_date_dt

while current_dt.strftime('%Y-%m-%d') <= end_date:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

In [ ]:
# можно и с помощью list comprehension
[(start_date_dt + timedelta(days=x)).strftime('%Y-%m-%d') for x in range(10)]

### Нагрузка на систему по часам

In [ ]:
stats = {}

with open('logs.csv', 'r') as f:
    for line in f:
        line = line.strip()
        print(line)
        
        break
        
        # вычисления нагрузки на систему...
        
# результат
stats

In [ ]:
# а в процентном соотношении?

###  Unixtime
Количество секунд, прошедших с 1 января 1970 года по UTC

In [ ]:
import time
from datetime import date
from datetime import datetime

In [ ]:
d = date(2019, 3, 11)

unixtime = time.mktime(d.timetuple())
unixtime

In [ ]:
from datetime import datetime

In [ ]:
datetime.fromtimestamp(1552251600)

На практике все сложнее https://habr.com/ru/post/452584/

# Задача про интервалы дат
Имеется список отсортированных по возрастанию дат dates_list. А также дата date, которая лежит между минимальным и максимальным значениями из списка dates_list. Вам необходимо определить ближайшие даты в списке dates_list, которые окружают дату date.

Пример:
```python
dates_list = ['2022-01-01', '2022-01-07', '2022-02-23', '2022-03-08', '2022-05-01', '2022-05-09', '2022-06-12']
date = '2022-04-01'
```

In [1]:
dates_list = ['2022-01-01', '2022-01-07', '2022-02-23', '2022-03-08', '2022-05-01', '2022-05-09', '2022-06-12']
date = '2022-04-01'

In [3]:
#вариант 1
i=0
for dt in dates_list:
    print(i, dt, dates_list[i+1])

0 2022-01-01 2022-01-07
0 2022-01-07 2022-01-07
0 2022-02-23 2022-01-07
0 2022-03-08 2022-01-07
0 2022-05-01 2022-01-07
0 2022-05-09 2022-01-07
0 2022-06-12 2022-01-07

In [14]:
#вариант2
%time
for i, dt in enumerate(dates_list[:-1]):
    if dt < date < dates_list[i+1]:
        print(i, dt, dates_list[i+1])

CPU times: total: 0 ns
Wall time: 0 ns
3 2022-03-08 2022-05-01

# Задача про интервалы дат
Имеется список отсортированных по возрастанию дат dates_list. А также дата date, которая лежит между минимальным и максимальным значениями из списка dates_list. Вам необходимо определить ближайшие даты в списке dates_list, которые окружают дату date.

Пример:
```python
dates_list = ['2022-01-01', '2022-01-07', '2022-02-23', '2022-03-08', '2022-05-01', '2022-05-09', '2022-06-12']
date = '2022-04-01'
```

In [1]:
dates_list = ['2022-01-01', '2022-01-07', '2022-02-23', '2022-03-08', '2022-05-01', '2022-05-09', '2022-06-12']
date = '2022-04-01'

In [3]:
#вариант 1
i=0
for dt in dates_list:
    print(i, dt, dates_list[i+1])

0 2022-01-01 2022-01-07
0 2022-01-07 2022-01-07
0 2022-02-23 2022-01-07
0 2022-03-08 2022-01-07
0 2022-05-01 2022-01-07
0 2022-05-09 2022-01-07
0 2022-06-12 2022-01-07

In [14]:
#вариант2
%time
for i, dt in enumerate(dates_list[:-1]):
    if dt < date < dates_list[i+1]:
        print(i, dt, dates_list[i+1])

CPU times: total: 0 ns
Wall time: 0 ns
3 2022-03-08 2022-05-01